.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ind{
  color:red;
}
.title{
  color:green;
}
/* .sec1{
  display: grid;
  background-color: aquamarine;
} */
.form{
  display:grid;
  width:400px;
  background-color:#ffe6e6;
}
.inp{
  width:280px;
  height:30px;
  margin:20px 30px;
}
.btn{
  background-color:#ff9999;
  border:1px solid red;
  border-radius: 5px;
  width:150px;
  height:30px;
  margin-left:90px;
  margin-bottom:30px;
}
.upper{
  display:flex;
  justify-content: space-around;
}
.sec2{
  display:block;
  overflow-y: scroll;
}
.sec3{
  border:1px solid black;
}
#s3{
  display:flex;
  justify-content: space-around;
}
#img{
  
}